<h1>{{title}}</h1>
<div class="container">
  <div class="left">
    <nav>
      <a routerLink="/zhi" routerLinkActive="active">数据嵌套循环</a>
      <a routerLink="/news" routerLinkActive="active">子给父组件传递信息@ViewChild</a>
      <a routerLink="/parent" routerLinkActive="active">父给子组件传递信息@Input</a>
      <a routerLink="/news" routerLinkActive="active">利用第三方库axios获取请求数据</a>
      <a routerLink="/myform" routerLinkActive="active">表单双向绑定</a>
      <a routerLink="/heroes" routerLinkActive="active">超能英雄</a>
      <a routerLink="/dashboard" routerLinkActive="active">指示板</a>
      <a routerLink="/heroes" routerLinkActive="active">超能英雄</a>
      <a routerLink="/zhang" routerLinkActive="active">element UI</a>


    </nav>
  </div>
  <!--中定义插座。-->
  <div class="right">
    <router-outlet></router-outlet>
  </div>
  <!--组件-->
  <!--<app-messages></app-messages>-->
</div>

