<h1>{{title}}</h1>
<div class="container">
  <div>
    <nav>
      <a routerLink="/zhi">数据嵌套循环</a>
      <a routerLink="/news">子给父组件传递信息@ViewChild</a>
      <a routerLink="/zhang">element UI</a>
      <a routerLink="/parent">父给子组件传递信息@Input</a>
      <a routerLink="/heroes">超能英雄</a>
      <a routerLink="/zhang">element UI</a>
      <a routerLink="/dashboard">指示板</a>
      <a routerLink="/heroes">超能英雄</a>
      <a routerLink="/zhang">element UI</a>
    </nav>
  </div>
  <!--中定义插座。-->
  <div class="right">
    <router-outlet></router-outlet>
  </div>
  <!--组件-->
  <!--<app-messages></app-messages>-->
</div>

